@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');

$Typography-fontFamily: "Work Sans", sans-serif;

$Typography-heading1Size: 5rem;
$Typography-heading1Weight: 300;

$Typography-heading2Size: 3.375rem;
$Typography-heading2Weight: 300;

$Typography-heading3Size: 2.25rem;
$Typography-heading3Weight: 300;

$Typography-heading4Size: 1.5rem;
$Typography-heading4Weight: 300;

$Typography-bodySize: 1rem;
$Typography-bodyWeight: 400;
